# NOTE: make sure to copy this file and fill in the necessary values

# port on which to run the server
PORT=

# OMDB related stuff
OMDB_API_KEY=

# test config element
OTHER_CONFIG=

# MongoDB connection config
MONGO_PORT=

# Facebook related stuff
FACEBOOK_APP_ID= 
FACEBOOK_APP_SECRET=