html
	head
		title Search
	body
		input(type='text', id='search-field')
		button(type='button', id='search-button', onclick='doSearch()', value='Search') Search
		if searchresult
			h3 Title
			p #{searchresult.Title}
			h3 Year
			p #{searchresult.Year}
			h3 Genre
			p #{searchresult.Genre}
			h3 Director
			p #{searchresult.Director}
		script.
			function doSearch() {
				moviename = document.getElementById('search-field').value
				location.href = "/search?moviename=" + moviename
			}


