* {
	font-family: arial; /* change font for whole page */
}

h1 {
	text-align: center;
}

form {
	width:700px;
	margin:25px auto;
}

.search {
	width: 600px;
}

.button {
	padding:6px 15px;
	border:2px solid #207cca;
	background-color:#207cca;
	color:#fafafa;
}

/* https://stackoverflow.com/a/5198514/10634812 */
.movie-info {
	margin: 50px 0px;
	overflow: auto;
}

.movie-poster {
	display: block;
}

.movie-poster img {
	float: left;
}

.movie-details {
	margin-left: 340px;
}